{
  "clusters": [
{%- set clusters = {} -%}
{%- for node in groups.glusterservers -%}
  {%- set cluster = hostvars[node].groups.glusterservers if 'groups.glusterservers' in hostvars[node] else '1' -%}
  {%- if cluster in clusters -%}
    {%- set _dummy = clusters[cluster].append(node) -%}
  {%- else -%}
    {%- set _dummy = clusters.update({cluster: [ node, ]}) -%}
  {%- endif -%}
{%- endfor -%}
{%- for cluster in clusters -%}
    {
      "nodes": [
{%- for node in clusters[cluster] -%}
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ hostvars[node].ip_addr }}"
              ],
              "storage": [
                "{{ hostvars[node].ip_addr }}"
              ]
            },
            "zone": {{ hostvars[node].glusterfs_zone | default(1) }}
          },
          "devices": [
{%- if hostvars[node].gluster_devices is string -%}
            "{{ hostvars[node].gluster_devices }}"
{%- else -%}
{%- for device in hostvars[node].gluster_devices -%}
            "{{ device }}"{% if not loop.last %},{% endif %}
{%- endfor -%}
{%- endif -%}
          ]
        }{% if not loop.last %},{% endif %}
{%- endfor -%}
      ]
    }{% if not loop.last %},{% endif %}
{%- endfor -%}
  ]
}
